APP_ENV=production
# Possible values: local, development, dev, testing, production
APP_DEBUG=false
APP_URL=https://web.elonn.com

ELONN_API_BASE_URL=https://api.elonn.com
ELONN_COOKIE_DOMAIN=.elonn.com
ELONN_WORLD_BASE_URL=https://world.elonn.com
